<header>
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
    data-placement="bottom"
    data-delay="400"
  >
    <span class="logo">
      <i class="fas fa-drum-steelpan fa-3x"></i>
      <!-- <img src="{{ "images/logo.png" | relative_url }}" /> -->
    </span>
    <span class="logo_text">{{ site.title }}</span>
  </a>
  <nav class="nav_row">

    {%- comment -%}
    Add or remove header nav links here.
    
    Be wary of different screen sizes. Test by resizing your browser window
    from full-width to very narrow. Adjust the $tablet and $phone cutoff points
    in /css/variables.scss until the header elements wrap at the right time.
    {%- endcomment -%}

    <a
    href="{{ 'team' | relative_url }}"
    class="nav_link"
    data-tooltip="About our team"
    data-placement="bottom"
    data-delay="400"
    >Team</a
    >
    <a
    href="{{ 'projects' | relative_url }}"
    class="nav_link"
    data-tooltip="Tools, datasets, and more"
    data-placement="bottom"
    data-delay="400"
    >Projects</a
    >
    <a
    href="{{ 'courses' | relative_url }}"
    class="nav_link"
    data-tooltip="Overview of our courses offered at University of Bonn"
    data-placement="bottom"
    data-delay="400"
    >Courses</a
    >
    <a
    href="{{ 'events' | relative_url }}"
    class="nav_link"
    data-tooltip="Overview of our events hosted"
    data-placement="bottom"
    data-delay="400"
    >Events</a
    >
    <a
    href="https://www.b-it-center.de/caisa/theses"
    target="_blank"
    class="nav_link"
    data-tooltip="Bachelor/Master theses"
    data-placement="bottom"
    data-delay="400"
    >Theses</a
    >
    <a
    href="{{ 'lamarr' | relative_url }}"
    class="nav_link"
    data-tooltip="Lamarr news"
    data-placement="bottom"
    data-delay="400"
    >Lamarr</a
    >
    <a
      href="{{ 'publications' | relative_url }}"
      class="nav_link"
      data-tooltip="Publications"
      data-placement="bottom"
      data-delay="400"
      >Publications</a
    >
    <a
      href="{{ 'news' | relative_url }}"
      class="nav_link"
      data-tooltip="News"
      data-placement="bottom"
      data-delay="400"
      >News</a
    >
    <a
      href="{{ 'contact' | relative_url }}"
      class="nav_link"
      data-tooltip="Email, address, and location"
      data-placement="bottom"
      data-delay="400"
      >Contact</a
    >
  </nav>
</header>
