{%- assign icon = "fas fa-user" -%}
{%- assign text = "Default Role" -%}

{%- if include.type == "prof" -%}
{%- assign icon = "fas fa-microscope" -%}
{%- assign text = "Professor" -%}
{%- endif -%}

{%- if include.type == "postdoc" -%}
{%- assign icon = "fas fa-glasses" -%}
{%- assign text = "Postdoctoral Researcher" -%}
{%- endif -%}

{%- if include.type == "phd" -%}
{%- assign icon = "fas fa-graduation-cap" -%}
{%- assign text = "PhD Student" -%}
{%- endif -%}

{%- if include.type == "master" -%}
{%- assign icon = "fas fa-user-graduate" -%}
{%- assign text = "Master Student" -%}
{%- endif -%}

{%- if include.type == "bachelor" -%}
{%- assign icon = "fas fa-user-graduate" -%}
{%- assign text = "Bachelor Student" -%}
{%- endif -%}

{%- if include.type == "intern" -%}
{%- assign icon = "fas fa-user" -%}
{%- assign text = "Intern" -%}
{%- endif -%}

{%- if include.type == "collab" -%}
{%- assign icon = "fas fa-handshake" -%}
{%- assign text = "Collaborator" -%}
{%- endif -%}

{%- if include.text -%}
{%- else -%}
{%- assign tooltip = text -%}
{%- endif -%}

{%- comment -%}
To add more options for icons, see:
https://fontawesome.com/icons?d=gallery&q=icon&m=free
{%- endcomment -%}

<span href="{{ link }}" class="role" data-tooltip="{{ tooltip }}" aria-label="{{ tooltip }}">
  <i class="{{ icon }} {%- if include.large -%}fa-lg{%- endif -%}"></i>
  {%- if include.text -%}
  <span class="role_text">{{- text -}}</span>
  {%- endif -%}
</span>
